table, th, td
{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

th
{
  color:rgb(121, 0, 0)
}

h1
{
  text-align: center;
  color: rgb(187, 0, 0);
}

h3
{
  text-align: center;
  color: rgb(202, 8, 8);
}

table
{
  margin: auto;
  box-shadow: 0 0 10px rgba(78, 78, 78, 0.466);  

}

form, .resultado
{
  margin: auto;
  border: 1px solid black;
  width: 300px;
  padding: 10px;
  box-shadow: 0 0 10px red;  
  margin-top: 10px;
}